$dark-green: #1d746e;
$light-green: #19a771;
$red: rgb(228, 30, 23);
.container {
  min-height: 50%;
  height: 100%;
  width: 50%;
  padding-top:4em;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    width: 95%;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 85vh;
  min-width: 50vh;
  width: 100%;
  height: auto;
  min-height: 65vh;
  max-height: 85vh;
  padding: 3.5em;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(214, 211, 211);
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px rgb(160, 102, 110);
}

.form_login,
.form_password,
.loginBtn,
.form_input {
  width: 25rem;
  height: 3vh;
  margin-top: 5px;
}

.form_title {
  margin-bottom: 2vh;
  margin-top: 0;
  font-size: 3.5rem;
  @media (max-width: 1100px) {
    font-size: 2.2rem;
  }
}

.btn {
  width: 100%;
  max-width: 55vh;
  font-weight: 500;
  max-height: 5vh;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid rgb(197, 231, 195);
  background: $dark-green;
  color: white;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease all;
  &:hover {
    color: rgb(102, 12, 12);
    background: $light-green;
  }
}

.form_text {
  margin-top: 1vh;
}

input {
  width: 100%;
  margin: 5px 0;
  @media (max-width: 790px) {
    min-width: auto;
  }
  
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
 
}

.input-field input[type].invalid{
  border-bottom: none ; 
}
.input-field input[type]:focus.invalid{
  border-bottom: 1px solid $red !important; 
}
  
span {
  margin-left: 2vh;
  display:flex;
  justify-self: left;
  color: $red;
  font-size: 0.9rem;
}

.box {
  max-width: 55vh;
  width: 100%;
}

.form_link {
  text-decoration: underline;
  color: black;
  &:hover {
    text-decoration: underline 2px solid $light-green;
  }
}

.forgot_pass {
  color: black;
}

.forgot_pass:hover {
  color: $dark-green;
}

form p{
  color:$red;
}


