/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  padding-top: 5px;
  min-width: 40px;
  width: 5vh;
  height: 25px;
  left: 20px;
  top: 22px;
  @media (max-width: 768px) {
    left: 5px;
    top: 20px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #07531a;
  opacity: 1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 3vh;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #dbdfe2;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  background: rgb(36, 35, 35);
  height: 100%;
  max-width: 30%;
  width: 30%;
  @media (max-width: 750px) {
    max-width: 100%;
  }
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin: 0 auto !important;
  width: auto !important;
 
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: black;
}

/* Wrapper for item list */
.bm-item-list {
  color: #eeede8;
  padding: 1em;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  box-shadow: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 2em 0em;
  text-align: center;
  background: black;
  color: #f7f0f0;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
  padding: 2px;
  width: auto !important;
  &:nth-child(5) {
    margin-bottom: 3.5em;
  }
  
}

/* Styling of overlay */
.bm-overlay {
  background: black;
}

.link {
  width: 100%;
  position: relative;
  color: white;
  min-width: 10vh;
  max-width: 20vh;
  user-select: none;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0; //to place it in bottom
    left: 0;
  }
  display: inline-block;
  &::after {
    transform: scaleX(0);
  }
  &:hover::after {
    transform: scaleX(1);
  }
  &::after {
    transition: transform 0.25s linear;
  }
  &::after {
    transform-origin: bottom right;
   
  }
  &:hover::after {
    transform-origin: bottom left;
  }

  
}


.link-out {
  width: 100%;
  position: relative;
  height:auto;
  color: white;
  min-width: 15vh;
  max-width: 15vh;
  margin:1em ;
 & p{
   font-size:1em;  
   @media (max-width: 768px) {
    font-size:0.7em; 
  }

 }
}
